<div ng-controller="articleController" ng-init="article_my_init()" style="padding-top: 10px;">
    <a class="btn btn-primary btn-flat create-article-btn" ng-click="create_article_modal()">Add New Article &nbsp; <i class="fa fa-plus"></i></a>

    <div class="box box-primary">
        <div class="box-body">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subject</th>
                        <th>Type</th>
                        <th>Content</th>
                        <th>UpVote</th>
                        <th>DownVote</th>
                        <th>Date and Time</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in articles">
                        <td>{{$index + 1}}</td>
                        <td><a href="#!article/view/{{x.articleID}}">{{ x.articleSubject}}</a></td>
                        <td>{{ x.articleType}}</td>
                        <td>{{ x.articleContent | limitTo: 20 }}{{x.articleContent.length > 20 ? '...' : ''}}</td>
                        <td>{{ x.articleUpvote}}</td>
                        <td>{{ x.articleDownvote}}</td>
                        <td>{{ x.articleDate}}</td>
                        <td>
                            <a class="btn btn-danger btn-sm" ng-click="remove_article($index, x.articleID)" title="Delete"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-warning btn-sm" title="Edit" ng-click="update_article_modal($index, x.articleID)"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--start : upate article-->
    <div class="modal fade" id="article_update_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="update_article()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Update Article</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Article</label>
                            <input type="text" class="form-control" ng-model="up.articleSubject">
                        </div>

                        <div class="form-group">
                            <label for="">Content</label>
                            <textarea class="form-control" ng-model="up.articleContent"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="">Type</label>
                            <input type="text" class="form-control" ng-model="up.articleType">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--End : upate article-->
    <!--Start : New Article-->
    <div class="modal fade" id="article_create_modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form ng-submit="article_new()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Create Article</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Article</label>
                            <input type="text" class="form-control" ng-model="cr.articleSubject">
                        </div>

                        <div class="form-group">
                            <label for="">Content</label>
                            <textarea class="form-control" ng-model="cr.articleContent"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="">Type</label>
                            <input type="text" class="form-control" ng-model="cr.articleType">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <!--End : New Article-->
</div>